h1 {
    font-family: 'Open Sans';
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}
p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    line-height: 100%;
}
a {
    font-family: 'Open Sans';
    color: #089FE0;
    text-decoration: underline;
    font-size: 18px;
    line-height: 100%;

}
#descr_company {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
}
#name, #name2, #email {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #999999;
}
button {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    background-color: #089FE0;
    color: #ffffff;
    text-align: center;
}
#accept_the_condition {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #666666;
}
#accept_the_condition > span{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #089FE0;
}
