h1 {
    font-family: 'Open Sans';
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}
a {
    font-family: 'Open Sans';
    color: #089FE0;
    text-decoration: underline;
    font-size: 18px;
    line-height: 100%;
}
.form__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__inner-title div{
    display: flex;
    justify-content: center;
    width: 200px;
}
#descr_company, #email {
    width: 400px;
   
}
#form_descr {
    text-align: center;
    margin-bottom: 46px;
}
.descr__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: black;
    line-height: 100%;
}

#descr_company {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    padding: 5px 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}
#name, #name2, #email {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #999999;
    padding: 5px 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}
button {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    background-color: #089FE0;
    color: #ffffff;
    text-align: center;
    padding: 10px 40px;
    margin-bottom: 20px;
}
#accept_the_condition {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #666666;
}
#accept_the_condition > span{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #089FE0;
}
